.body {
    background-color: white;
    width: 100%;
    height: 100%;
}

.fieldset {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 1rem;
    color: rgb(11, 23, 11);
}

.fieldset input {
    width: 20rem;
    height: 2rem;
    border: 1px solid green;
    background-color: whitesmoke;
}

.fieldset input:hover {
    width: 20rem;
    height: 2rem;
    border: 1px solid green;
    background-color: rgba(213, 195, 195, 0.755);
}

.fieldset button {
    margin-top: 1rem;
    border-radius: 3rem;
    width: 20rem;
    height: 2rem;
    border: none;
    background-color: rgba(89, 135, 89, 0.668);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    font-size: 1rem;
}

.fieldset button:hover {
    margin-top: 1rem;
    border-radius: 3rem;
    width: 20rem;
    height: 2rem;
    border: none;
    background-color: rgb(60, 110, 60);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    font-size: 1rem;
    cursor: pointer;
}

.fieldset label {
    font-size: 1.3rem;
}

.description {
    width: 70%;
    height: 14rem;
    border: 1px solid green
}

.writeABlogPost {
    color: blue;
    margin: 0 0 0 35rem;
}


@media (max-width: 700px) {

    .description {
        width: 20rem;
        height: 14rem;
        border: 1px solid green
    }

    .writeABlogPost {
        color: blue;
        margin: 0 0 0 6rem;
    }
}